#sse2
{
    /*You can decorate the menu's container, such as adding background images through this block*/
    background-color: #003366;
    height: 38px;
    padding: 15px;
    border-radius: 6px;
    box-sizing: content-box;
	text-align: center;

}

#sses2
{
	text-align: center;
    margin:0 auto;/*This will make the menu center-aligned. Removing this line will make the menu align left.*/
}

#sses2 ul 
{ 
	text-align: center;
    position: relative;
    list-style-type: none;   
    padding:0;margin:0;
}

#sses2 li
{
    float:left;
    list-style-type: none;
    padding:0;margin:0;background-image:none;
	text-align: center;
}

/*CSS for background bubble*/
#sses2 li.highlight
{
	
    border:solid 2px white;
    background-color:#003D79;
    top:0px;
    height:30px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    z-index: 1;
    position: absolute;
    overflow:hidden;
	text-align: center;
}

#sses2 li a
{
    height:30px;
    padding-top: 6px;
    margin: 0 20px;/*used to adjust the distance between each menu item. Now the distance is 20+20=40px.*/
   	color: white;
    font: normal 16px arial;
    text-align: center;
    text-decoration: none;  
    display: block;
    position: relative;
    z-index: 2;
}

.error
{
	text-align: center;
	color: #ff1111;
	font-family: verdana, ariel, san-serif;
	font-size: 50px;
	text-align: center;
	text-shadow:5px 5px 10px #000000;
}

#alvorlig
{
	padding-top: 20px;
	width:800px;
	height: 100px;
	text-align: left;
	margin: 0 auto;
}
#alvorlig p 
{
	color: #ff1111;
    font-family: verdana, ariel, san-serif;
	font-size: 30px;	
	text-shadow:5px 5px 10px #000000;
}

#sjov
{	
	padding-top: 40px;
	width:800px;
	height: 100px;
	text-align: left;
	margin: 0 auto;
}

#sjov p 
{
	color: #ff1111;
    font-family: verdana, ariel, san-serif;
	font-size: 30px;	
	text-shadow:5px 5px 10px #000000;
}

#regler
{
	width: 800px;
	height: 430px;
    word-wrap: break-word;
	text-align: left;
    margin:0 auto;
}

#regler li
{
	padding-top: 10px;
	color: #ff1111;
    font-family: verdana, ariel, san-serif;
	font-size: 25px;	
	text-shadow:5px 5px 10px #000000;
}

#regler1
{
	width: 800px;
	height: 200px;
    word-wrap: break-word;
	text-align: left;
    margin:0 auto;
}

#regler1 li
{
	padding-top: 10px;
	color: #ff1111;
    font-family: verdana, ariel, san-serif;
	font-size: 25px;	
	text-shadow:5px 5px 10px #000000;
}

#container { 
  background: url(../../pictures/background1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#container{
background-color: none;
width:auto;
height: 2000px;

}

#body
{
background-color: none;
}

#box 
{
  margin-left: auto;
  margin-right: auto;
	width: 700px;
    height: 60px;	
	background-color: rgba(0,61,120,0.3);
	overflow: hidden;
    padding: 1em;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
}

#headline
{
	padding-top: 40px;
	color: #ff1111;
}

#headline h1
{
	font-family: verdana, ariel, san-serif;
	font-size: 80px;
	text-align: center;
	text-shadow:5px 5px 10px #000000;
}

#headline2
{
	text-align: center;
	color: #ff1111;
}

#headline2 h2
{
	font-family: verdana, ariel, san-serif;
	font-size: 50px;
	text-align: center;
	text-shadow:5px 5px 10px #000000;
}

@media only screen and (max-device-width: 480px) {
    #container { 
  background: url(../../pictures/background1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container{
background-color: none;
width:800px;
height: 2000px;

}
}


